<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN" monitorInterval="30">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSSS}][spot-service][%thread][%-4level][%logger][%file:%line][%m]%n"/>
        </console>

        <RollingFile name="studyDemo" fileName="logs/studyDemo.log" filePattern="logs/studyDemo-%d{yyyy-MM-dd}.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSSS}][studyDemo][%thread][%-4level][%logger][%file:%line][%m]%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

    </appenders>

    <loggers>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.mybatis" level="INFO"/>
        <logger name="java.sql.PreparedStatement" level="DEBUG"/>
        <logger name="org.apache.kafka" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="studyDemo"/>
        </root>
    </loggers>
</configuration>
